/*{height: 60px; border: 1px black solid;}
*/
/*navBar*/
body{background-color: purple;}
#logoBox{height:80%; width: 200px;}
#mainLogo{object-fit: scale-down; height: 100%; width: 100%;}
header{height: 60px; border: 1px black solid;}
.botonNavbar{width: min-content; text-decoration: none; padding: 0px 9px; color: white;}
.botonNavbar:hover{color: goldenrod;}
.botonNavbarOculto{display: none;}
#buttonPanel{flex-grow: 0; background-color: purple;}
/*#buttonPanel.colapse{width: inherit;}*/

/*Banner destacado*/
#mainBannerBox{width: 100%; height: 650px; background-color: purple;}
#mainBannerImg{object-fit: fill; width: 100%; height: 100%;}
#bannerInfo{background-color: rgba(51, 48, 48, 0.753); height: min-content;}
/*#tituloBanner{}
#descripcionBanner*/

/*Categorias*/
.carouselCustom{display: flex; flex-wrap: nowrap; overflow: scroll}
.carouselItem{height: 300px; width: 500px; margin: 5px; border: 1px black solid;}
.imgCarousel{object-fit: fill; height: 100%; width: 100%;}

/*Seccion Categorias*/
.categoryContainer{color: white;}

/*Footer*/
#imgFooterContainer{height:60px;max-width: 320px;}
/*Footer*/
#imgFooterContainer{height:60px}

/* Detalle de Pelicula */
.bg-violeta{
    background-color: #191840;
    background-image: -webkit-linear-gradient(180deg, #191840 0%, #3a1767 46%);
    background-image: -moz-linear-gradient(180deg, #191840 0%, #3a1767 46%);
    background-image: -o-linear-gradient(180deg, #191840 0%, #3a1767 46%);
    background-image: linear-gradient(180deg, #191840 0%, #3a1767 46%);
    
}


.btn-reproducir{
background: #802cf6;
color: aliceblue;
}
.btn-reproducir a{
    text-decoration: none;
    color: aliceblue

}